.backgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bellRoss {
  position: absolute;
  top: 9px;
  left: 12px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 35px;
  min-width: 35px;
  white-space: nowrap;
  z-index: 2;
}
.frameChild {
  position: absolute;
  top: 16px;
  left: 50px;
  width: 11px;
  height: 5px;
  object-fit: contain;
  display: none;
}
.bellRoss1 {
  position: absolute;
  top: 9px;
  left: 12px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 35px;
  min-width: 35px;
  white-space: nowrap;
  z-index: 2;
}
.backgroundIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frameItem {
  position: absolute;
  top: 16px;
  left: 50px;
  width: 11px;
  height: 5px;
  object-fit: contain;
  z-index: 2;
}
.backgroundGroup,
.bellRossNightlumParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backgroundParent {
  height: 40px;
  width: 65px;
  position: relative;
}
.backgroundIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.bellRoss2 {
  width: 89.1px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.image41Icon,
.image41Icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image41Icon {
  display: none;
}
.image41Icon1 {
  z-index: 1;
}
.image41Parent {
  position: absolute;
  top: 7px;
  left: 388px;
  width: 28px;
  height: 28px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.backgroundIcon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bellRoss3,
.frameParent {
  position: absolute;
  margin: 0 !important;
}
.frameParent {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bellRoss3 {
  width: 89.1px;
  bottom: 7px;
  left: 16.3px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.bellRossNightlumGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 16.3px 7px;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}
.backgroundContainer {
  height: 40px;
  width: 429px;
  position: relative;
  max-width: 100%;
  margin-left: -1px;
  font-size: 16px;
}
.breadcrumb,
.breadcrumb1 {
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.breadcrumb1 {
  flex: 1;
  justify-content: flex-end;
  padding: 12px 40px;
  z-index: 3;
}
.breadcrumb {
  align-self: stretch;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 17px;
  color: #606060;
  font-family: Inter;
}
