.contactInfo,
.row {
  display: flex;
  flex-direction: row;
}
.row {
  width: 996px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.contactInfo {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 750px) {
  .row {
    gap: 24px;
  }
}
