.iconEmail {
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading,
.iconEmail,
.text {
  position: relative;
}
.heading {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text {
  height: 48px;
  font-size: 16px;
  line-height: 150%;
  display: none;
}
.content1,
.link,
.text {
  align-self: stretch;
}
.content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.link {
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  line-height: 150%;
  white-space: nowrap;
}
.contactInfo,
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.contactInfo {
  align-self: stretch;
}
.content {
  flex: 1;
  min-width: 225px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 19px;
    line-height: 25px;
  }
}
