.p,
.weAreA {
  margin: 0;
}
.p {
  white-space: pre-wrap;
}
.andSociallyCommitted,
.weAreAContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 28.8px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  z-index: 1;
}
.weAreAContainer {
  align-self: stretch;
  height: 46px;
  flex-shrink: 0;
}
.andSociallyCommitted {
  height: 36px;
}
.andSociallyCommittedEngineeWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px;
  box-sizing: border-box;
  max-width: 100%;
}
.differenceInThe {
  margin: 0;
  height: 56px;
  width: 763px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 28.8px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.differenceInTheLifeOfNeedWrapper {
  width: 1019px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Roboto;
}
.aboutUsTimelineInner,
.weAreAGlobalDiasporaOfMoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.weAreAGlobalDiasporaOfMoParent {
  flex: 1;
  flex-direction: column;
  gap: 2px;
}
.aboutUsTimelineInner {
  width: 1192px;
  flex-direction: row;
  padding: 0 55px 76px;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Arial;
}
@media screen and (max-width: 1200px) {
  .aboutUsTimelineInner {
    padding-left: 27px;
    padding-right: 27px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .andSociallyCommitted,
  .differenceInThe,
  .weAreAContainer {
    font-size: 26px;
    line-height: 23px;
  }
}
@media screen and (max-width: 450px) {
  .andSociallyCommitted,
  .differenceInThe,
  .weAreAContainer {
    font-size: 19px;
    line-height: 17px;
  }
}
