.conversation {
  margin: 0;
  height: 40px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 33px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.icon {
  height: 187px;
  width: 187px;
  position: absolute;
  margin: 0 !important;
  top: -173px;
  left: -15px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.conversationBox {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.internalArchitecture,
.weAnalyseYour {
  margin: 0;
}
.weAnalyseYourContainer {
  align-self: stretch;
  height: 58.6px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-family: Roboto;
  color: #555;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.analysisDescription,
.analysisDescriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.analysisDescription {
  align-self: stretch;
  gap: 19px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.analysisDescriptionWrapper {
  width: 319px;
  padding: 201px 0 0;
  box-sizing: border-box;
}
.dot,
.dot1,
.dot2,
.dot3,
.dot4 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
}
.dot1,
.dot2,
.dot3,
.dot4 {
  background-color: #8d8d8d;
}
.sliderDots,
.sliderDots1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sliderDots1 {
  flex: 1;
  justify-content: flex-start;
  padding: 10px;
  gap: 9px;
}
.sliderDots {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 24.5px 0 28px;
}
.image56Icon {
  width: 149px;
  height: 149px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.imageSlider,
.reputationImage {
  display: flex;
  justify-content: flex-start;
}
.imageSlider {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.reputationImage {
  width: 172.6px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 12px 0 11.8px;
  box-sizing: border-box;
}
.forOurTechnical,
.weAreWell {
  margin: 0;
}
.weAreWellContainer {
  align-self: stretch;
  height: 58.6px;
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.reputationDescription {
  width: 344.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 69.5px;
  min-width: 344.6999999999998px;
  max-width: 100%;
}
.gallery {
  margin: 0;
  height: 40.3px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 33px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.icon1 {
  height: 210.7px;
  width: 196px;
  position: absolute;
  margin: 0 !important;
  top: -185.7px;
  right: -73.3px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.galleryDescription {
  width: 172.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.kentucky39495,
.washingtonAveManchester {
  margin: 0;
}
.washingtonAveManchesterContainer {
  height: 58.6px;
  width: 292.2px;
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
}
.washingtonAveManchesterKenWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 16px;
  color: #555;
  font-family: Roboto;
}
.galleryDescriptionParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19.5px;
  min-width: 246px;
  max-width: 100%;
  font-size: 25px;
  color: #252a34;
  font-family: Poppins;
}
.reputationDescriptionParent {
  width: 1299.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 516px 0 0;
  box-sizing: border-box;
  gap: 59.9px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: 16px;
  color: #555;
  font-family: Roboto;
}
.initiatives {
  margin: 0;
  align-self: stretch;
  height: 33px;
  position: relative;
  font-size: inherit;
  line-height: 33px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.initiativesHeader,
.testimonialContainer,
.testimonialContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.initiativesHeader {
  width: 129px;
  flex-direction: column;
  padding: 200.7px 0 0;
}
.testimonialContainer,
.testimonialContainerWrapper {
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 0;
}
.testimonialContainer {
  width: 1245px;
  overflow: hidden;
  padding: 0 78px 48.9px;
  gap: 144.7px;
}
.testimonialContainerWrapper {
  padding: 0 79px;
  text-align: center;
  font-size: 25px;
  color: #252a34;
  font-family: Poppins;
}
@media screen and (max-width: 1350px) {
  .imageSlider {
    flex: 1;
  }
  .reputationDescription {
    flex: 1;
    min-width: 100%;
  }
  .reputationDescriptionParent {
    flex-wrap: wrap;
    padding-right: 258px;
    box-sizing: border-box;
  }
  .testimonialContainer {
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
  }
  .testimonialContainer,
  .testimonialContainerWrapper {
    padding-left: 39px;
    padding-right: 39px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .reputationDescriptionParent {
    gap: 30px;
    padding-right: 129px;
    box-sizing: border-box;
  }
  .testimonialContainer {
    gap: 36px;
  }
}
@media screen and (max-width: 450px) {
  .conversation {
    font-size: 20px;
    line-height: 26px;
  }
  .reputationDescription {
    gap: 35px;
  }
  .gallery {
    font-size: 20px;
    line-height: 26px;
  }
  .reputationDescriptionParent {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .initiatives {
    font-size: 20px;
    line-height: 26px;
  }
  .testimonialContainer {
    gap: 18px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
