.socialMediaLogo {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.continueWithGoogle {
  align-self: stretch;
  position: relative;
  font-weight: 100;
}
.continueWithGoogleWrapper,
.socialMediaLogoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.continueWithGoogleWrapper {
  flex: 1;
  flex-direction: column;
  padding: 1px 0 0;
  box-sizing: border-box;
  min-width: 190px;
}
.socialMediaLogoParent {
  width: 332px;
  flex-direction: row;
  gap: 16px;
  max-width: 100%;
}
.socialMediaSignuplogin,
.socialMediaSignuploginWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.socialMediaSignuplogin {
  flex: 1;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #333;
  overflow: hidden;
  justify-content: center;
  padding: 15.5px 20px 16.5px 21px;
}
.socialMediaSignuploginWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 1px;
}
.socialMediaLogo1 {
  height: 32px;
  width: 32px;
  position: relative;
}
.continueWithFacebook {
  position: relative;
  font-weight: 100;
}
.continueWithFacebookWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.socialMediaLogoGroup,
.socialMediaSignuplogin1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.socialMediaLogoGroup {
  justify-content: flex-start;
  gap: 16px;
}
.socialMediaSignuplogin1 {
  width: 503px;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  padding: 12.5px 20px 11.5px 21px;
}
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: 11px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 12px 0 13px;
  box-sizing: border-box;
}
.socialMediaLogo2 {
  height: 32px;
  width: 32px;
  position: relative;
  display: none;
}
.continueWithFacebook1 {
  position: relative;
  font-weight: 100;
}
.socialMediaLogoContainer,
.socialMediaSignuplogin2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.socialMediaLogoContainer {
  justify-content: flex-start;
  gap: 16px;
}
.socialMediaSignuplogin2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  padding: 18.5px 20px 16.5px 21px;
  max-width: 100%;
  height: 100%;
}
.image51Icon {
  position: absolute;
  top: 14px;
  left: 84px;
  width: 26px;
  height: 26px;
  object-fit: cover;
  z-index: 1;
}
.socialMediaSignuploginParent {
  height: 57px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 27px;
  box-sizing: border-box;
  max-width: 100%;
}
.bySigningUp {
  color: rgba(102, 102, 102, 0.5);
}
.span {
  color: #333;
}
.termsOfUse {
  text-decoration: underline;
}
.span1 {
  color: #666;
}
.and {
  color: rgba(102, 102, 102, 0.5);
}
.span2,
.span3 {
  color: #666;
}
.privacyPolicy {
  text-decoration: underline;
}
.byCreatingAnContainer {
  position: relative;
}
.frameParent,
.linkText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.linkText {
  flex-direction: row;
  padding: 8px 8px 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #111;
  font-family: Poppins;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  font-size: 18px;
  color: #333;
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .socialMediaLogoGroup,
  .socialMediaLogoParent {
    flex-wrap: wrap;
  }
}
