.linkLogopng {
  align-self: stretch;
  height: 60px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.linkLogopngWrapper {
  height: 128px;
  width: 147.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.learnMore {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.aboutDarsana,
.chapters,
.contactUs,
.eyeMagazine {
  margin: 0;
}
.aboutAlyeskaPressContainer {
  width: 204.4px;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-family: Arial;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  mix-blend-mode: normal;
}
.frameWrapper,
.learnMoreParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.learnMoreParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 26px;
}
.frameWrapper {
  width: 213.3px;
  justify-content: flex-end;
  padding: 0 0 22px;
  box-sizing: border-box;
}
.ticketsBooking {
  margin: 0;
  width: 233.1px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.ticketsBookingWrapper {
  width: 188.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 2.2px;
  box-sizing: border-box;
}
.ignite,
.scholarship {
  margin: 0;
}
.skillDevelopment {
  margin: 0;
  white-space: pre-wrap;
}
.blankLine {
  margin: 0;
}
.liftTicketsSeasonContainer {
  width: 186.4px;
  height: 230px;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-family: Arial;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
  debug_commit: f6aba90;
}
.ticketsAndBooking {
  height: 222px;
  width: 234.7px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px 12.4px 171px;
  box-sizing: border-box;
  gap: 30px;
  min-width: 234.69999999999985px;
  debug_commit: f6aba90;
  z-index: 1;
}
.contactUs1,
.social {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.contactUs1 {
  width: 132.5px;
  white-space: nowrap;
}
.social {
  width: 112.3px;
}
.contactUsParent {
  width: 347px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.hotelReservation,
.youTubeInsta {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.hotelReservation {
  mix-blend-mode: normal;
  min-width: 103.6px;
}
.youTubeInsta {
  height: 17px;
  width: 77.7px;
  color: #000;
}
.reservation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.8px;
}
.facebookIcon,
.instagramCircleIcon,
.linkedinIcon,
.youtubeIcon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
}
.fBCircleLinkedIn,
.ticketOffice {
  display: flex;
  align-items: flex-start;
}
.ticketOffice {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 0;
  gap: 20px;
}
.fBCircleLinkedIn {
  width: 178.5px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 13.5px;
  box-sizing: border-box;
}
.hotelResv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 52.5px;
}
.div,
.ticketOffice1 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.ticketOffice1 {
  mix-blend-mode: normal;
}
.div {
  color: #000;
}
.ticketOfficeParent {
  width: 172.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.6px 0 14.6px;
  box-sizing: border-box;
  gap: 17.5px;
}
.contactUs2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 51.9px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-family: ABeeZee;
}
.contactUs2,
.frameContainer,
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameDiv {
  align-self: stretch;
  justify-content: flex-start;
  gap: 17px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameContainer {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 15px;
  box-sizing: border-box;
  min-width: 274px;
  max-width: 100%;
}
.ticketsAndBookingParent {
  flex: 1;
  justify-content: flex-start;
  gap: 26.9px;
  min-width: 445px;
  margin-left: -1.1px;
}
.frameGroup,
.frameParent,
.ticketsAndBookingParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
.frameGroup {
  width: 895.9px;
  justify-content: flex-start;
  row-gap: 20px;
}
.frameParent {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1300px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .ticketsAndBooking {
    flex: 1;
    padding-top: 21.09999999999991px;
    padding-bottom: 111px;
    box-sizing: border-box;
  }
  .hotelResv {
    flex-wrap: wrap;
  }
  .ticketsAndBookingParent {
    flex-wrap: wrap;
    min-width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .learnMore,
  .ticketsBooking {
    font-size: 16px;
  }
  .contactUs2,
  .hotelResv {
    gap: 26px;
  }
}
