.frameChild {
  align-self: stretch;
  height: 20.4px;
}
.ifYouWant {
  margin: 0;
}
.ifYouWantContainer,
.stephenBrekke {
  position: relative;
  display: inline-block;
}
.ifYouWantContainer {
  align-self: stretch;
  height: 92px;
}
.stephenBrekke {
  font-weight: 800;
  min-width: 109px;
}
.legacyIntegrationProducer {
  position: relative;
  font-size: 10px;
  color: #505050;
}
.stephenBrekkeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Manrope;
}
.frameItem {
  width: 75.8px;
  height: 75.8px;
  position: absolute;
  margin: 0 !important;
  top: -33.1px;
  left: 25px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
}
.frameGroup {
  flex: 1;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 28.9px 61.56px rgba(21, 21, 21, 0.15);
  flex-direction: column;
  justify-content: center;
  padding: 0 25px 35px;
  box-sizing: border-box;
  position: relative;
  gap: 32px;
  min-width: 280px;
  min-height: 265px;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  box-shadow: 0 94px 200px rgba(21, 21, 21, 0.15);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 38px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: 19px;
  }
}
@media screen and (max-width: 450px) {
  .ifYouWantContainer {
    font-size: 16px;
  }
  .frameGroup {
    gap: 16px;
  }
}
