.frameChild {
  align-self: stretch;
  height: 20.4px;
}
.kyleRobertsDvm,
.websiteDesignDid {
  position: relative;
  display: inline-block;
}
.websiteDesignDid {
  align-self: stretch;
  height: 92px;
}
.kyleRobertsDvm {
  font-weight: 800;
  min-width: 121px;
}
.customerWebConsultant {
  position: relative;
  font-size: 10px;
  color: #505050;
  display: inline-block;
  min-width: 123px;
}
.kyleRobertsDvmParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Manrope;
}
.contentRowIcon {
  width: 75.8px;
  height: 75.8px;
  position: absolute;
  margin: 0 !important;
  top: -33.1px;
  left: 25px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.frameParent {
  flex: 1;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 28.9px 61.56px rgba(21, 21, 21, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 25px 35px;
  box-sizing: border-box;
  position: relative;
  gap: 32px;
  min-width: 280px;
  min-height: 265px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .websiteDesignDid {
    font-size: 16px;
  }
  .frameParent {
    gap: 16px;
  }
}
