.divlogoIcon,
.linkHome {
  align-self: stretch;
  position: relative;
}
.divlogoIcon {
  width: 139px;
  max-height: 100%;
  object-fit: cover;
  min-height: 60px;
}
.linkHome {
  height: 22px;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cartMenuWrap {
  width: 44.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
  color: #1187c9;
}
.linkAbout {
  align-self: stretch;
  height: 22px;
  position: relative;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.cartMenuWrap1 {
  width: 69.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.linkIcon,
.linkKey {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.linkKey {
  align-self: stretch;
  flex: 1;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
}
.linkIcon {
  width: 12.2px;
  height: 12px;
  overflow: hidden;
}
.linkWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.8px;
}
.linkKeyInitiativesParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4.7px;
}
.cartMenuWrap2 {
  height: 35px;
  width: 118.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.linkIcon1,
.linkOther {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.linkOther {
  align-self: stretch;
  flex: 1;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
}
.linkIcon1 {
  width: 12.2px;
  height: 12px;
  overflow: hidden;
}
.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.8px;
}
.cartMenuWrap3,
.linkOtherInitiativesParent {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.linkOtherInitiativesParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 4.6px;
}
.cartMenuWrap3 {
  height: 35px;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.linkChapters,
.linkIcon2 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.linkChapters {
  align-self: stretch;
  flex: 1;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
}
.linkIcon2 {
  width: 12.2px;
  height: 12px;
  overflow: hidden;
}
.linkFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.8px;
}
.cartMenuWrap4,
.linkChaptersParent {
  display: flex;
  justify-content: flex-start;
}
.linkChaptersParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: 4.7px;
}
.cartMenuWrap4 {
  height: 35px;
  width: 83.5px;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.linkEye,
.linkEye1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
}
.linkEye1 {
  z-index: 1;
  margin-left: -100.9px;
}
.divcartMenuWrapInner,
.linkEyeMagazineParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkEyeMagazineParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.divcartMenuWrapInner {
  height: 35px;
  width: 100.9px;
  flex-direction: column;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.linkContact {
  width: 80.7px;
  height: 22px;
  position: relative;
  letter-spacing: 0.16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.cartMenuWrap5 {
  width: 115.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 20px 0 0;
  box-sizing: border-box;
}
.signIn {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.16px;
  line-height: 28.8px;
  font-weight: 800;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.divcartMenuWrap,
.divlogoParent,
.sliderDots {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.sliderDots {
  height: 49px;
  width: 114px;
  border-radius: 30px;
  background-color: #1388ca;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 25px;
  white-space: nowrap;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
}
.divcartMenuWrap,
.divlogoParent {
  max-width: 100%;
}
.divcartMenuWrap {
  margin: 0;
  width: 1078px;
  border-radius: 40px;
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 44px 4px 45px;
  gap: 29.6px;
  text-align: left;
  font-size: 16px;
  color: #242331;
  font-family: Nunito;
}
.divlogoParent {
  margin-top: -287px;
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 95px;
  top: -287;
  z-index: 99;
  position: sticky;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .linkEyeMagazineParent {
    display: none;
  }
  .divcartMenuWrapInner {
    width: 0;
  }
  .divcartMenuWrap {
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
  }
}
