.heading2 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 77.4px;
}
.divelementorWidgetWrap {
  cursor: pointer;
  border: 0;
  padding: 27.5px 42.5px 28.5px 42.9px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.divelementorWidgetWrap:hover {
  background-color: #2ba1e3;
}
.whatWeDo {
  width: 81px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.16px;
  line-height: 35px;
  display: flex;
  font-family: Raleway;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 81px;
}
.divelementorWidgetWrap1,
.ourStoryLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divelementorWidgetWrap1 {
  cursor: pointer;
  border: 0;
  padding: 17.2px 37.7px 17.8px;
  background-color: #0e5b8a;
  flex: 1;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
  margin-left: -12.5px;
}
.divelementorWidgetWrap1:hover {
  background-color: #3682b0;
}
.ourStoryLink {
  width: 313.1px;
}
.heading21 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 89px;
}
.divelementorWidgetWrap2 {
  cursor: pointer;
  border: 0;
  padding: 28px 36.3px;
  background-color: #1187c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.divelementorWidgetWrap2:hover,
.divelementorWidgetWrap3:hover,
.divelementorWidgetWrap4:hover,
.divelementorWidgetWrap6:hover {
  background-color: #2ba1e3;
}
.heading22 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap3 {
  cursor: pointer;
  border: 0;
  padding: 15px 27.5px 16px 27.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.heading23 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
}
.divelementorWidgetWrap4 {
  cursor: pointer;
  border: 0;
  padding: 28px 26.5px 28px 27.6px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.leadership,
.present {
  margin: 0;
}
.heading2Container1 {
  line-break: anywhere;
}
.heading2Container {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.divelementorWidgetWrap5 {
  flex: 1;
  background-color: #1186c9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 21.8px 13px 38px;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
  margin-left: -1.5px;
}
.heading24 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap6 {
  cursor: pointer;
  border: 0;
  padding: 15px 29.9px 16px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  margin-left: -1.5px;
}
.howWeWorkLink,
.ourWork,
.sectionSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.howWeWorkLink {
  flex: 1;
  justify-content: center;
  min-width: 315px;
  row-gap: 20px;
}
.ourWork,
.sectionSection {
  box-sizing: border-box;
}
.sectionSection {
  width: 1140px;
  background-color: #1186c9;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3.2px 0 12.5px;
  gap: 0.1px;
  z-index: 1;
}
.ourWork {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 15px;
}
.heading25 {
  width: 77.4px;
  height: 14px;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 77.4px;
  z-index: 1;
}
.weAreThe,
.weHaveUndertaken {
  margin: 0;
}
.weHaveUndertakenContainer1 {
  width: 100%;
}
.image20Icon,
.weHaveUndertakenContainer {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.weHaveUndertakenContainer {
  width: 521px;
  letter-spacing: 1px;
  line-height: 27px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 521px;
}
.image20Icon {
  height: 281px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  min-width: 367px;
}
.weHaveUndertakenManySocialParent {
  width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 54px;
  max-width: 100%;
}
.ourWorkParent,
.socialInitiativesContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
}
.ourWorkParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 43px;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-family: Raleway;
}
@media screen and (max-width: 1050px) {
  .weHaveUndertakenContainer {
    flex: 1;
  }
  .weHaveUndertakenManySocialParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .howWeWorkLink {
    flex-wrap: wrap;
  }
  .image20Icon,
  .weHaveUndertakenContainer {
    min-width: 100%;
  }
  .weHaveUndertakenManySocialParent {
    gap: 27px;
  }
  .ourWorkParent {
    gap: 21px;
  }
}
@media screen and (max-width: 450px) {
  .divelementorWidgetWrap5,
  .divelementorWidgetWrap6 {
    flex: 1;
  }
}
