.image36Icon,
.productGChild {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.image36Icon {
  height: 198.4px;
  flex: 1;
  object-fit: cover;
  z-index: 2;
}
.image36Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 43px;
}
.productGItem {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.aGrassCutting {
  margin: 0;
}
.bellRossContainer {
  height: 48px;
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.bellRossNightlumWrapper {
  width: 248px;
  display: flex;
  flex-direction: row;
  padding: 0 28px;
  box-sizing: border-box;
}
.bellRossNightlumWrapper,
.productG,
.productGParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.productG {
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid rgba(158, 146, 146, 0.6);
  display: flex;
  flex-direction: column;
  padding: 43px 0 33px;
  gap: 17.6px;
}
.productGParent {
  width: 1237px;
  display: grid;
  flex-direction: row;
  gap: 18px;
  max-width: 100%;
  grid-template-columns: repeat(4, minmax(222px, 1fr));
  text-align: left;
  font-size: 16px;
  color: #251b1b;
  font-family: Inter;
}
@media screen and (max-width: 975px) {
  .productGParent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(222px, 385px));
  }
}
@media screen and (max-width: 450px) {
  .image36Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .productG {
    padding-top: 28px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
  .productGParent {
    grid-template-columns: minmax(222px, 1fr);
  }
}
