.imageGalleryIcon {
  height: 259px;
  width: 724px;
  position: absolute;
  margin: 0 !important;
  right: 89px;
  bottom: -226px;
  border-radius: 24px;
  object-fit: cover;
  z-index: 1;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 16px 15px;
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sequenceHandler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47.3px 0 0;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button1 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 16px 15px;
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sequenceHandler1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47.3px 0 0;
}
.inputProcessor,
.loopStructure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.inputProcessor {
  flex: 1;
  justify-content: flex-start;
  gap: 24.2px;
}
.loopStructure {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 2.1px 0 0;
  box-sizing: border-box;
}
.conversation {
  margin: 0;
  height: 40px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 33px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.icon2 {
  height: 187px;
  width: 187px;
  position: absolute;
  margin: 0 !important;
  top: -173px;
  left: -15px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.conversationParent,
.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.conversationParent {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.tableHeader {
  width: 302px;
  justify-content: flex-end;
  padding: 0 61px;
  box-sizing: border-box;
}
.internalArchitecture,
.weAnalyseYour {
  margin: 0;
}
.weAnalyseYourContainer {
  align-self: stretch;
  height: 58.6px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-family: Roboto;
  color: #555;
  display: inline-block;
  flex-shrink: 0;
}
.columnContainerInner,
.tableHeaderParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tableHeaderParent {
  align-self: stretch;
  align-items: flex-end;
  gap: 19.5px;
}
.columnContainerInner {
  height: 167px;
  width: 319px;
  align-items: flex-start;
}
.dot,
.dot1,
.dot2,
.dot3,
.dot4 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
}
.dot1,
.dot2,
.dot3,
.dot4 {
  background-color: #8d8d8d;
}
.contentBlockContainer,
.sliderDots {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sliderDots {
  justify-content: flex-start;
  padding: 10px;
  gap: 9px;
  z-index: 2;
}
.contentBlockContainer {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px 0 25px;
}
.chartWithUsChild {
  width: 445.3px;
  height: 353px;
  position: relative;
  display: none;
  max-width: 100%;
}
.image56Icon {
  height: 149px;
  width: 149px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
  z-index: 2;
}
.image56Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 11.6px 0 12px;
}
.gallery {
  margin: 0;
  align-self: stretch;
  height: 40.3px;
  position: relative;
  font-size: inherit;
  line-height: 33px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frameParent {
  width: 172.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.7px;
}
.logoContainerContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.forOurTechnical,
.weAreWell {
  margin: 0;
}
.weAreWellContainer {
  align-self: stretch;
  height: 58.6px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-family: Roboto;
  color: #555;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.backdropImageContainer,
.chartWithUs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.chartWithUs {
  align-self: stretch;
  padding: 27px 50.3px 48.9px;
  gap: 19.5px;
  margin-top: -13px;
}
.backdropImageContainer {
  width: 462.4px;
  padding: 0 17.1px 0 0;
}
.initiatives {
  margin: 0;
  position: absolute;
  top: 185.7px;
  left: 37.2px;
  font-size: inherit;
  line-height: 33px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 129px;
}
.icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 210.7px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.initiativesParent {
  height: 218.7px;
  width: 196px;
  position: relative;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 43px 0 43.2px;
}
.kentucky39495,
.washingtonAveManchester {
  margin: 0;
}
.washingtonAveManchesterContainer {
  align-self: stretch;
  height: 58.6px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-family: Roboto;
  color: #555;
  display: inline-block;
  flex-shrink: 0;
}
.columnContainerChild,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  gap: 26.8px;
}
.columnContainerChild {
  height: 353px;
  width: 292.2px;
}
.columnContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 11px;
  gap: 20px;
  text-align: center;
  font-size: 25px;
  color: #252a34;
  font-family: Poppins;
}
.columnContainer,
.logicBranch,
.patternMatcher,
.variableHolder {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.variableHolder {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 10px 0 0;
  gap: 10px;
  min-width: 823px;
}
.logicBranch,
.patternMatcher {
  flex-direction: row;
  align-items: flex-start;
}
.patternMatcher {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 40px;
  gap: 15px;
}
.logicBranch {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 16px 0 0;
  position: relative;
  flex-shrink: 0;
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .columnContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .inputProcessor {
    flex-wrap: wrap;
  }
  .variableHolder {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .conversation {
    font-size: 20px;
    line-height: 26px;
  }
  .tableHeader {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .gallery {
    font-size: 20px;
    line-height: 26px;
  }
  .chartWithUs {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  .initiatives {
    font-size: 20px;
    line-height: 26px;
  }
  .frameWrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
