.heading2 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 77.4px;
}
.divelementorWidgetWrap {
  cursor: pointer;
  border: 0;
  padding: 27.5px 42px 28.5px 42.9px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.divelementorWidgetWrap1:hover,
.divelementorWidgetWrap2:hover,
.divelementorWidgetWrap3:hover,
.divelementorWidgetWrap4:hover,
.divelementorWidgetWrap6:hover,
.divelementorWidgetWrap:hover {
  background-color: #2ba1e3;
}
.whatWeDo {
  width: 81px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.16px;
  line-height: 35px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 81px;
}
.divelementorWidgetWrap1 {
  cursor: pointer;
  border: 0;
  padding: 17.2px 37.7px 17.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.heading21 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 89px;
}
.divelementorWidgetWrap2 {
  cursor: pointer;
  border: 0;
  padding: 28px 36.3px;
  background-color: #1187c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heading22 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap3 {
  cursor: pointer;
  border: 0;
  padding: 15px 27.5px 16px 27.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.heading23 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
}
.divelementorWidgetWrap4 {
  cursor: pointer;
  border: 0;
  padding: 28px 26.5px 28px 27.6px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.leadership,
.present {
  margin: 0;
}
.heading2Container1 {
  line-break: anywhere;
}
.heading2Container {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.divelementorWidgetWrap5 {
  flex: 1;
  background-color: #0e5b8a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 21.8px 13px 38px;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
  margin-left: -1.5px;
}
.heading24 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap6 {
  cursor: pointer;
  border: 0;
  padding: 15px 29.9px 16px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  margin-left: -1.5px;
}
.divelementorWidgetWrapParent {
  flex: 1;
  justify-content: center;
  min-width: 315px;
  row-gap: 20px;
}
.divelementorWidgetWrapParent,
.sectionSection,
.sectionSectionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.sectionSection {
  width: 1140px;
  background-color: #1186c9;
  justify-content: center;
  padding: 0 3px 0 0;
  box-sizing: border-box;
  gap: 0.1px;
  z-index: 1;
}
.sectionSectionWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.heading25 {
  width: 77.4px;
  height: 14px;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 77.4px;
  z-index: 1;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41.5px;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: Raleway;
}
@media screen and (max-width: 1050px) {
  .sectionSection {
    flex-wrap: wrap;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: 21px;
  }
}
@media screen and (max-width: 450px) {
  .divelementorWidgetWrap5,
  .divelementorWidgetWrap6 {
    flex: 1;
  }
  .divelementorWidgetWrapParent {
    flex-wrap: wrap;
  }
}
