.footerChild {
  height: 88px;
  width: 1387px;
  position: relative;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.divlogoIcon {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 0;
  transform: scale(1.364);
}
.wrapperDivlogo {
  width: 138.5px;
  height: 44px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  height: 44px;
  width: 361px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about,
.features {
  position: relative;
  display: inline-block;
}
.about {
  min-width: 77px;
  cursor: pointer;
}
.features {
  min-width: 64px;
}
.pricing {
  min-width: 69px;
  cursor: pointer;
}
.gallery,
.pricing,
.team {
  position: relative;
  display: inline-block;
}
.gallery {
  min-width: 65px;
  cursor: pointer;
}
.team {
  min-width: 99px;
}
.menu,
.menuheader {
  display: flex;
  align-items: flex-start;
}
.menuheader {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.menu {
  width: 582.5px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.socialIcon {
  width: 13.1px;
  height: 22px;
  position: relative;
  z-index: 1;
}
.socialWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.socialIcon1 {
  width: 24px;
  height: 22px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.socialIcon2,
.socialIcon3 {
  position: relative;
  z-index: 1;
}
.socialIcon2 {
  align-self: stretch;
  width: 33.8px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.socialIcon3 {
  width: 25.1px;
  height: 22px;
  object-fit: cover;
}
.socialFrame {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.footer,
.socialFrame,
.socialIcons,
.socialMedia {
  display: flex;
  align-items: flex-start;
}
.socialIcons {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.footer,
.socialMedia {
  width: 174px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 0;
  box-sizing: border-box;
}
.footer {
  width: 1387px;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 29px 24px 0;
  max-width: 100%;
  flex-shrink: 0;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .footer {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .menuheader {
    flex-wrap: wrap;
  }
}
