.image47Icon,
.image48Icon,
.image50Icon,
.image53Icon,
.placeholderImage {
  height: 228px;
  width: 304px;
  position: relative;
  object-fit: cover;
}
.placeholderImage {
  height: 304px;
  width: 1px;
}
.content {
  width: 304px;
  margin: 0 !important;
  position: absolute;
  top: -299px;
  right: -18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.image51Icon {
  height: 228px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.contentParent,
.image57Icon {
  align-self: stretch;
  position: relative;
}
.contentParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image57Icon {
  height: 204px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameGroup {
  align-self: stretch;
  justify-content: flex-start;
  gap: 70px;
}
.frameWrapper {
  width: 322px;
  justify-content: flex-end;
  padding: 0 18px 12px 0;
  box-sizing: border-box;
  min-width: 209px;
  max-width: 100%;
}
.cab116853459251Icon,
.image52Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cab116853459251Icon {
  flex: 1;
  max-height: 100%;
}
.image52Icon {
  height: 206px;
  flex-shrink: 0;
}
.cab116853459251Parent,
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cab116853459251Parent {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  gap: 53px;
}
.frameContainer {
  height: 509px;
  width: 304px;
  justify-content: flex-end;
  padding: 0 0 22px;
  box-sizing: border-box;
}
.ddae6316853463331Icon,
.f5b16825306791Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.f5b16825306791Parent {
  height: 509px;
  width: 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
}
.d7557be16825307751Icon,
.faf64516853463991Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.d7557be16825307751Icon {
  flex: 1;
  max-height: 100%;
}
.faf64516853463991Icon {
  height: 208px;
  flex-shrink: 0;
}
.d7557be16825307751Parent {
  height: 489px;
  width: 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  max-width: 100%;
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    gap: 35px;
  }
  .cab116853459251Parent,
  .d7557be16825307751Parent,
  .f5b16825306791Parent {
    gap: 26px;
  }
}
