.discoverTheMagic {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.text {
  align-self: stretch;
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
.explore {
  position: relative;
  font-size: 24px;
  line-height: 18px;
  display: inline-block;
  font-family: Poppins;
  color: #fff0f0;
  text-align: left;
  min-width: 91px;
}
.exploreButton,
.primaryButton,
.textParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.primaryButton {
  cursor: pointer;
  border: 0;
  padding: 24px 48px;
  background-color: #1897dc;
  border-radius: 36px;
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
}
.primaryButton:hover {
  background-color: #30b0f5;
}
.exploreButton,
.textParent {
  max-width: 100%;
}
.exploreButton {
  flex-direction: row;
  padding: 0 73px;
  box-sizing: border-box;
}
.textParent {
  width: 453px;
  flex-direction: column;
  gap: 25px;
  min-width: 453px;
}
.galleryImageIcon {
  height: 902px;
  width: 1073.6px;
  position: absolute;
  margin: 0 !important;
  bottom: -278px;
  left: -598px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footerLinkContainerContaine,
.imageGalleryIcon,
.logoContainerContainerConta {
  align-self: stretch;
  position: relative;
  border-radius: 24px;
  object-fit: cover;
  max-width: 100%;
}
.imageGalleryIcon {
  height: 259px;
  overflow: hidden;
  flex-shrink: 0;
}
.footerLinkContainerContaine,
.logoContainerContainerConta {
  max-height: 100%;
  min-height: 350px;
}
.logoContainerContainerConta {
  flex: 1;
  overflow: hidden;
  min-width: 229px;
}
.footerLinkContainerContaine {
  width: 337px;
}
.galleryLayout,
.logoContainerContainerContaParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.logoContainerContainerContaParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
}
.galleryLayout {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 47px;
  z-index: 1;
}
.galleryImages,
.imageGallery {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.galleryImages {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.imageGallery {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 33px;
  box-sizing: border-box;
  min-width: 471px;
}
.treasuresContent,
.treasuresContentWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.treasuresContent {
  width: 1249px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 72px;
}
.treasuresContentWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 26px 91px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: 72px;
  color: #252525;
  font-family: Poppins;
}
@media screen and (max-width: 1125px) {
  .textParent {
    flex: 1;
  }
  .treasuresContent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .discoverTheMagic {
    font-size: 58px;
  }
  .textParent {
    min-width: 100%;
  }
  .footerLinkContainerContaine {
    flex: 1;
  }
  .logoContainerContainerContaParent {
    flex-wrap: wrap;
  }
  .galleryLayout {
    gap: 23px;
  }
  .imageGallery {
    min-width: 100%;
  }
  .treasuresContent {
    gap: 36px;
  }
  .treasuresContentWrapper {
    padding-bottom: 59px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .discoverTheMagic {
    font-size: 43px;
  }
  .explore {
    font-size: 19px;
    line-height: 14px;
  }
  .exploreButton {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .treasuresContent {
    gap: 18px;
  }
  .treasuresContentWrapper {
    padding-bottom: 38px;
    box-sizing: border-box;
  }
}
