.blockDetailIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.loremIpsumDolor,
.utEnimAd {
  margin: 0;
}
.dolorInReprehenderit {
  margin: 0;
  white-space: pre-wrap;
}
.adipisicingElitSed,
.quisNostrudExercitation,
.voluptateVelitEsse {
  margin: 0;
}
.description {
  width: 1315px;
  height: 114px;
  position: absolute;
  margin: 0 !important;
  top: 41px;
  right: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.component4Child,
.component4Item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component4Child {
  width: 35.97%;
  right: 64.03%;
  background-color: #eff2f4;
}
.component4Item {
  width: 0;
}
.model {
  position: absolute;
  top: calc(50% - 8px);
  left: 10px;
  display: inline-block;
  min-width: 47px;
}
.component4Inner {
  height: 100%;
  width: 56.86%;
  top: 0;
  right: 7.16%;
  bottom: 0;
  left: 35.97%;
  background-color: #fff;
}
.component4Inner,
.div,
.lineDiv {
  position: absolute;
}
.lineDiv {
  height: 102.78%;
  width: 0.12%;
  top: -1.39%;
  right: 63.97%;
  bottom: -1.39%;
  left: 35.92%;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.div {
  top: calc(50% - 12px);
  left: 214px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 77px;
}
.component4Child1 {
  position: absolute;
  width: calc(100% + 1px);
  top: 0.5px;
  right: -0.5px;
  left: -0.5px;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  height: 1px;
}
.component4 {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.component5Child,
.component5Item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component5Child {
  width: 35.97%;
  right: 64.03%;
  background-color: #eff2f4;
}
.component5Item {
  width: 0;
}
.model1 {
  position: absolute;
  top: calc(50% - 8px);
  left: 10px;
  display: inline-block;
  min-width: 39px;
}
.component5Inner {
  position: absolute;
  height: 100%;
  width: 56.86%;
  top: 0;
  right: 7.16%;
  bottom: 0;
  left: 35.97%;
  background-color: #fff;
}
.component5Child1 {
  position: absolute;
  height: 102.78%;
  width: 0.12%;
  top: -1.39%;
  right: 63.97%;
  bottom: -1.39%;
  left: 35.92%;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.div1 {
  position: absolute;
  top: calc(50% - 12px);
  left: 214px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 93px;
}
.component5Child2 {
  position: absolute;
  width: calc(100% + 1px);
  top: 0.5px;
  right: -0.5px;
  left: -0.5px;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  height: 1px;
}
.component5 {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.component6Child,
.component6Item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component6Child {
  width: 35.97%;
  right: 64.03%;
  background-color: #eff2f4;
}
.component6Item {
  width: 0;
}
.model2 {
  position: absolute;
  top: calc(50% - 8px);
  left: 10px;
  display: inline-block;
  min-width: 80px;
}
.component6Inner {
  position: absolute;
  height: 100%;
  width: 56.86%;
  top: 0;
  right: 7.16%;
  bottom: 0;
  left: 35.97%;
  background-color: #fff;
}
.component6Child1 {
  position: absolute;
  height: 102.78%;
  width: 0.12%;
  top: -1.39%;
  right: 63.97%;
  bottom: -1.39%;
  left: 35.92%;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.div2 {
  position: absolute;
  top: calc(50% - 12px);
  left: 214px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 115px;
}
.component6Child2 {
  position: absolute;
  width: calc(100% + 1px);
  top: 0.5px;
  right: -0.5px;
  left: -0.5px;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  height: 1px;
}
.component6 {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.component7Child,
.component7Item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component7Child {
  width: 35.97%;
  right: 64.03%;
  background-color: #eff2f4;
}
.component7Item {
  width: 0;
}
.model3 {
  position: absolute;
  top: calc(50% - 8px);
  left: 10px;
  display: inline-block;
  min-width: 32px;
}
.component7Inner {
  position: absolute;
  height: 100%;
  width: 56.86%;
  top: 0;
  right: 7.16%;
  bottom: 0;
  left: 35.97%;
  background-color: #fff;
}
.component7Child1 {
  position: absolute;
  height: 102.78%;
  width: 0.12%;
  top: -1.39%;
  right: 63.97%;
  bottom: -1.39%;
  left: 35.92%;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.div3 {
  position: absolute;
  top: calc(50% - 12px);
  left: 214px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.component7Child2 {
  position: absolute;
  width: calc(100% + 1px);
  top: 0.5px;
  right: -0.5px;
  left: -0.5px;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  height: 1px;
}
.component7 {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.blockDetailIcon1,
.infoLeft {
  max-width: 100%;
  overflow: hidden;
}
.infoLeft {
  width: 867px;
  background-color: #fff;
  border: 1px solid #e0e7e9;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.blockDetailIcon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
}
.loremIpsumDolor1,
.utEnimAd1 {
  margin: 0;
}
.dolorInReprehenderit1 {
  margin: 0;
  white-space: pre-wrap;
}
.adipisicingElitSed1,
.quisNostrudExercitation1,
.voluptateVelitEsse1 {
  margin: 0;
}
.description1 {
  width: 1315px;
  height: 114px;
  position: absolute;
  margin: 0 !important;
  top: 41px;
  right: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.text {
  width: 88px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
}
.navbasetabtextactive {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 13px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.text1 {
  width: 88px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
}
.navbasetabtextactive1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 13px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.radixSort {
  width: 120px;
  height: 48px;
  position: relative;
  text-align: center;
}
.bloomFilter {
  height: 100%;
  width: 311.9px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eff2f4;
}
.component4Child2 {
  height: 36px;
  width: 0;
  position: relative;
}
.model4 {
  position: relative;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.quadraticProbing {
  width: 194px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px 0 0;
  box-sizing: border-box;
}
.hashMap {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.separateChaining {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 10.9px 0 0;
}
.dataAggregator {
  align-self: stretch;
  width: 493px;
  position: relative;
  background-color: #fff;
  max-width: 100%;
}
.shapeContainer {
  height: 37px;
  width: 1px;
  position: relative;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
  margin-left: -493px;
}
.dictionery {
  height: 36px;
  width: 493px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component4Child3 {
  height: 1px;
  width: calc(100% + 1px);
  position: absolute;
  margin: 0 !important;
  top: 1px;
  right: -1px;
  left: 0;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  z-index: 1;
}
.component41 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  max-width: 100%;
}
.rectangleDiv {
  height: 100%;
  width: 311.9px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eff2f4;
}
.iconCollection {
  width: 0;
  height: 36px;
  position: relative;
}
.iconCollectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5.1px 0 0;
}
.model5 {
  position: relative;
  display: inline-block;
  min-width: 39px;
  z-index: 1;
}
.labeledShape {
  width: 199.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px 0 0;
  box-sizing: border-box;
}
.curveSegment {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.curveSegmentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.frameChild {
  align-self: stretch;
  width: 493px;
  position: relative;
  background-color: #fff;
  max-width: 100%;
}
.frameItem {
  height: 37px;
  width: 1px;
  position: relative;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
  margin-left: -493px;
}
.rectangleParent {
  height: 36px;
  width: 493px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shapeTransform {
  height: 1px;
  width: calc(100% + 1px);
  position: absolute;
  margin: 0 !important;
  top: 1px;
  right: -1px;
  left: 0;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  z-index: 1;
}
.component51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 4.9px;
  max-width: 100%;
}
.component6Child3,
.component6Child4 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component6Child3 {
  width: 35.97%;
  right: 64.03%;
  background-color: #eff2f4;
}
.component6Child4 {
  width: 0;
}
.component6Child5,
.rectangleInput {
  position: absolute;
  top: 0;
  left: 35.97%;
}
.rectangleInput {
  border: 0;
  outline: 0;
  background-color: #fff;
  height: 100%;
  width: 56.86%;
  right: 7.16%;
  bottom: 0;
}
.component6Child5 {
  height: 102.78%;
  width: 0.12%;
  right: 63.91%;
  bottom: -2.78%;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.frameInner,
.model6 {
  position: relative;
  z-index: 1;
}
.frameInner {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.model6 {
  display: inline-block;
  min-width: 80px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.roundCorners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.dropShadowEffect {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 115px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.bevelEffect {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.arcSegment,
.lineParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.arcSegment {
  width: 336.7px;
  flex-direction: row;
  padding: 0 10px;
  box-sizing: border-box;
}
.lineParent {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}
.component61 {
  align-self: stretch;
  height: 36px;
  position: relative;
  max-width: 100%;
}
.blurEffect {
  height: 100%;
  width: 311.9px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eff2f4;
}
.component7Child3 {
  height: 36px;
  width: 0;
  position: relative;
}
.model7 {
  position: relative;
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.modelWrapper {
  width: 194px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px 0 0;
  box-sizing: border-box;
}
.component7Child4,
.skewEffect {
  position: absolute;
  margin: 0 !important;
  top: 0;
}
.skewEffect {
  border: 0;
  outline: 0;
  background-color: #fff;
  height: 100%;
  width: 493px;
  right: 62.1px;
  bottom: 0;
}
.component7Child4 {
  height: calc(100% + 1px);
  width: 1px;
  bottom: -1px;
  left: 311.9px;
  border-right: 1px solid #e0e7e9;
  box-sizing: border-box;
}
.divideShape {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  z-index: 1;
}
.shearEffect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.subtractShape {
  height: 1px;
  width: calc(100% + 1px);
  position: absolute;
  margin: 0 !important;
  top: 1px;
  right: -1px;
  left: 0;
  border-top: 1px solid #e0e7e9;
  box-sizing: border-box;
  z-index: 1;
}
.component71 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
}
.infoLeft1 {
  flex: 1;
  background-color: #fff;
  border: 1px solid #e0e7e9;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
}
.aVLTree,
.blockDetailParent,
.descriptionParent,
.infoLeft1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.aVLTree {
  width: 899px;
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
}
.blockDetailParent,
.descriptionParent {
  position: relative;
}
.descriptionParent {
  flex: 1;
  flex-direction: column;
  padding: 0 10px 16px;
  box-sizing: border-box;
  gap: 140px;
  z-index: 3;
}
.blockDetailParent {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 16px;
  color: #505050;
  font-family: Inter;
}
@media screen and (max-width: 925px) {
  .component4Child2 {
    width: 100%;
    height: 0;
  }
  .component41,
  .component51 {
    flex-wrap: wrap;
  }
  .descriptionParent {
    gap: 70px;
  }
}
@media screen and (max-width: 450px) {
  .bevelEffect {
    flex-wrap: wrap;
  }
  .component61 {
    height: auto;
    min-height: 36;
  }
  .component7Child3 {
    width: 100%;
    height: 0;
  }
  .component71 {
    flex-wrap: wrap;
  }
  .descriptionParent {
    gap: 35px;
  }
}
