.frameChild,
.frameItem {
  height: 116px;
  width: 1429px;
  position: relative;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.divlogoIcon {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 1px;
  transform: scale(1.818);
}
.wrapperDivlogo {
  width: 137px;
  height: 33px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuheaderWrapper,
.wrapperDivlogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
}
.wrapperDivlogoWrapper {
  height: 45px;
  width: 296.5px;
  padding: 0 0 12px;
}
.menuheaderWrapper {
  width: 575px;
  padding: 0 0 9px;
  max-width: 100%;
}
.socialIcon {
  width: 12.9px;
  height: 22px;
  position: relative;
  z-index: 2;
}
.socialRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.socialIcon1 {
  width: 23.7px;
  height: 22px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.socialRow1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.socialIcon2,
.socialIcon3 {
  position: relative;
  z-index: 2;
}
.socialIcon2 {
  align-self: stretch;
  width: 33.4px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.socialIcon3 {
  width: 24.8px;
  height: 22px;
  object-fit: cover;
}
.rectangleParent,
.socialIcons,
.socialRow2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialRow2 {
  flex-direction: column;
  padding: 1px 0 0;
}
.rectangleParent,
.socialIcons {
  flex-direction: row;
  gap: 25.8px;
}
.rectangleParent {
  align-self: stretch;
  background-color: #fff;
  align-items: flex-end;
  justify-content: space-between;
  padding: 27px 52.2px 44px 96px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  max-width: 100%;
}
@media screen and (max-width: 1050px) {
  .menuheaderWrapper {
    width: 0;
  }
}
@media screen and (max-width: 725px) {
  .rectangleParent {
    padding-left: 48px;
    padding-right: 26px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
