.image38Icon,
.productGChild {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.image38Icon {
  height: 198px;
  flex: 1;
  object-fit: cover;
  z-index: 2;
}
.bellRossLabel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 26px 0 28px;
}
.bellRoss,
.masterLinkIcon {
  position: relative;
  z-index: 1;
}
.masterLinkIcon {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
}
.defaultLink {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
  box-sizing: border-box;
}
.exportDropdown,
.productG {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exportDropdown {
  align-self: stretch;
  align-items: flex-start;
  gap: 18.5px;
}
.productG {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid rgba(158, 146, 146, 0.6);
  box-sizing: border-box;
  align-items: flex-end;
  padding: 22px 1px 57px 0;
  gap: 38px;
  min-width: 295px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #251b1b;
  font-family: Inter;
}
