.aboutUsStoryChild,
.heading2 {
  position: relative;
  display: none;
}
.aboutUsStoryChild {
  width: 1412px;
  height: 2417px;
  max-width: 100%;
}
.heading2 {
  width: 77.4px;
  height: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 77.4px;
}
.heading21,
.heading22,
.heading23,
.whatWeDo {
  position: relative;
  font-weight: 500;
  display: none;
}
.whatWeDo {
  width: 81px;
  letter-spacing: 0.16px;
  line-height: 35px;
  min-width: 81px;
}
.heading21,
.heading22,
.heading23 {
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
}
.heading21 {
  width: 89px;
  line-height: 16px;
  min-width: 89px;
}
.heading22,
.heading23 {
  width: 107.5px;
  height: 39px;
  line-height: 25px;
  flex-shrink: 0;
}
.heading23 {
  width: 108.7px;
  height: 14px;
}
.leadership,
.present {
  margin: 0;
}
.heading2Container1 {
  line-break: anywhere;
  width: 100%;
}
.heading24,
.heading2Container {
  width: 103px;
  height: 44px;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  display: none;
  align-items: center;
  flex-shrink: 0;
}
.heading24 {
  width: 101.7px;
  height: 39px;
  justify-content: center;
}
.aboutUs,
.aboutUsWrapper {
  display: flex;
  max-width: 100%;
}
.aboutUs {
  margin: 0;
  height: 175px;
  width: 534px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 28.8px;
  font-weight: 800;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.aboutUsWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 168px;
  box-sizing: border-box;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: Roboto;
}
.heading25 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  display: inline-block;
  font-family: Raleway;
  color: #fff;
  text-align: center;
  min-width: 77.4px;
}
.divelementorWidgetWrap {
  cursor: pointer;
  border: 0;
  padding: 27.5px 42.5px 28.5px 42.9px;
  background-color: #0e5b8a;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.divelementorWidgetWrap:hover {
  background-color: #3682b0;
}
.whatWeDo1 {
  width: 81px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.16px;
  line-height: 35px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 81px;
}
.divelementorWidgetWrap1 {
  cursor: pointer;
  border: 0;
  padding: 17.2px 37.7px 17.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.divelementorWidgetWrap1:hover,
.divelementorWidgetWrap2:hover,
.divelementorWidgetWrap3:hover,
.divelementorWidgetWrap4:hover,
.divelementorWidgetWrap6:hover {
  background-color: #2ba1e3;
}
.heading26 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 89px;
}
.divelementorWidgetWrap2 {
  cursor: pointer;
  border: 0;
  padding: 28px 36.3px;
  background-color: #1187c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heading27 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap3 {
  cursor: pointer;
  border: 0;
  padding: 15px 27.5px 16px 27.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.heading28 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
}
.divelementorWidgetWrap4 {
  cursor: pointer;
  border: 0;
  padding: 28px 26.5px 28px 27.6px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.leadership1,
.present1 {
  margin: 0;
}
.heading2Container3 {
  line-break: anywhere;
}
.heading2Container2 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.divelementorWidgetWrap5 {
  flex: 1;
  background-color: #1186c9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 21.8px 13px 38px;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
  z-index: 1;
  margin-left: -1.5px;
}
.heading29 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap6,
.divelementorWidgetWrapParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.divelementorWidgetWrap6 {
  cursor: pointer;
  border: 0;
  padding: 15px 29.9px 16px;
  background-color: #1187c9;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  margin-left: -1.5px;
}
.divelementorWidgetWrapParent {
  justify-content: center;
  min-width: 315px;
  max-width: 100%;
  row-gap: 20px;
}
.sectionSection,
.sectionSectionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sectionSection {
  flex: 1;
  background-color: #1186c9;
  justify-content: center;
  padding: 0 3px 0 0;
  gap: 0.1px;
  z-index: 2;
}
.sectionSectionWrapper {
  width: 1178px;
  justify-content: flex-end;
  padding: 0 19px;
}
.image21Icon {
  align-self: stretch;
  height: 281px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.image21Wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 54px;
  box-sizing: border-box;
  min-width: 367px;
  min-height: 335px;
  max-width: 100%;
}
.blankLine,
.darsanaWasEstablished {
  margin: 0;
}
.darsanaWasEstablishedContainer {
  height: 442px;
  flex: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 27px;
  display: flex;
  align-items: center;
  min-width: 361px;
  max-width: 100%;
  z-index: 1;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 77px;
  max-width: 100%;
  text-align: left;
}
.aboutUsStory,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-family: Raleway;
}
.frameParent {
  width: 1197px;
  align-items: flex-end;
  gap: 30px;
  max-width: 100%;
}
.aboutUsStory {
  width: 100%;
  position: relative;
  background-color: #fff;
  align-items: flex-start;
  padding: 140px 64px 447px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .sectionSection {
    flex-wrap: wrap;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
  }
  .frameGroup {
    gap: 38px;
  }
}
@media screen and (max-width: 1050px) {
  .aboutUs {
    font-size: 51px;
    line-height: 23px;
  }
}
@media screen and (max-width: 750px) {
  .aboutUsWrapper {
    padding-left: 84px;
    box-sizing: border-box;
  }
  .divelementorWidgetWrapParent {
    flex-wrap: wrap;
  }
  .darsanaWasEstablishedContainer,
  .image21Wrapper {
    min-width: 100%;
  }
  .frameGroup {
    gap: 19px;
  }
  .aboutUsStory {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs {
    font-size: 38px;
    line-height: 17px;
  }
  .aboutUsWrapper {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .divelementorWidgetWrap5,
  .divelementorWidgetWrap6 {
    flex: 1;
  }
}
