.aboutUsTimelineChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutUs,
.aboutUsWrapper {
  display: flex;
  max-width: 100%;
}
.aboutUs {
  margin: 0;
  height: 175px;
  width: 534px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 28.8px;
  font-weight: 800;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.aboutUsWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 101px;
  box-sizing: border-box;
}
.image16Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.arrow1Icon,
.image6Icon {
  position: absolute;
  top: 620px;
  left: 399.5px;
  width: 54px;
  height: 54px;
  object-fit: cover;
  z-index: 2;
}
.arrow1Icon {
  top: 310px;
  left: 848.5px;
  object-fit: contain;
}
.image16Parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 11.5px;
  width: 902px;
  background-image: url(/image-16@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.arrow2Icon {
  position: absolute;
  top: 310px;
  left: 0;
  width: 54px;
  height: 54px;
  object-fit: contain;
  z-index: 2;
}
.frameGroup {
  height: 674px;
  width: 913.5px;
  position: relative;
  max-width: 100%;
}
.frameWrapper {
  width: 1105.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading2 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 77.4px;
}
.divelementorWidgetWrap {
  cursor: pointer;
  border: 0;
  padding: 27.5px 42px 28.5px 42.9px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.divelementorWidgetWrap1:hover,
.divelementorWidgetWrap2:hover,
.divelementorWidgetWrap3:hover,
.divelementorWidgetWrap4:hover,
.divelementorWidgetWrap:hover {
  background-color: #2ba1e3;
}
.whatWeDo {
  width: 81px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.16px;
  line-height: 35px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 81px;
}
.divelementorWidgetWrap1 {
  cursor: pointer;
  border: 0;
  padding: 17.2px 37.7px 17.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.heading21 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 89px;
}
.divelementorWidgetWrap2 {
  cursor: pointer;
  border: 0;
  padding: 28px 36.3px;
  background-color: #1187c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heading22 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap3 {
  cursor: pointer;
  border: 0;
  padding: 15px 27.5px 16px 27.8px;
  background-color: #1186c9;
  width: 162.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.heading23 {
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-family: Raleway;
  color: #000;
  text-align: center;
}
.divelementorWidgetWrap4 {
  cursor: pointer;
  border: 0;
  padding: 28px 26.5px 28px 27.6px;
  background-color: #1187c9;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.leadership,
.present {
  margin: 0;
}
.heading2Container1 {
  line-break: anywhere;
}
.heading2Container {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.divelementorWidgetWrap5 {
  flex: 1;
  background-color: #1186c9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 21.8px 13px 38px;
  box-sizing: border-box;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
  z-index: 1;
  margin-left: -1.5px;
}
.heading24 {
  height: 39px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  font-family: Raleway;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.divelementorWidgetWrap6 {
  cursor: pointer;
  border: 0;
  padding: 15px 31.9px 16px;
  background-color: #0e5b8a;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 102px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  margin-left: -1.5px;
}
.divelementorWidgetWrap6:hover {
  background-color: #3682b0;
}
.whyTrustUsDivelementorWidg {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  min-width: 318px;
  row-gap: 20px;
}
.frameParent,
.linkOurStory,
.sectionSection,
.whyTrustUsDivelementorWidg {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sectionSection {
  align-self: stretch;
  background-color: #1186c9;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1px;
  z-index: 1;
}
.frameParent,
.linkOurStory {
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 144px;
}
.linkOurStory {
  width: 1164px;
  flex-direction: row;
  padding: 0 12px 163px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-family: Raleway;
}
.timelineIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.aboutUsTimeline {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 132px 75px 509px 78px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .frameParent {
    gap: 72px;
  }
}
@media screen and (max-width: 1050px) {
  .aboutUs {
    font-size: 51px;
    line-height: 23px;
  }
  .linkOurStory {
    padding-bottom: 106px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .aboutUsWrapper {
    padding-left: 50px;
    box-sizing: border-box;
  }
  .whyTrustUsDivelementorWidg {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: 36px;
  }
  .linkOurStory {
    padding-bottom: 69px;
    box-sizing: border-box;
  }
  .aboutUsTimeline {
    padding-left: 39px;
    padding-right: 37px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs {
    font-size: 38px;
    line-height: 17px;
  }
  .aboutUsWrapper {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .divelementorWidgetWrap5,
  .divelementorWidgetWrap6 {
    flex: 1;
  }
  .frameParent {
    gap: 18px;
  }
}
