.aboutUsWhatWeDoChild {
  width: 1412px;
  height: 2417px;
  position: relative;
  display: none;
  max-width: 100%;
}
.aboutUs,
.aboutUsWrapper {
  display: flex;
  max-width: 100%;
}
.aboutUs {
  margin: 0;
  height: 175px;
  width: 534px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 28.8px;
  font-weight: 800;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.aboutUsWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 60px;
  box-sizing: border-box;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: Roboto;
}
.image16Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.arrow1Icon,
.image6Icon {
  position: absolute;
  top: 620px;
  left: 399.5px;
  width: 54px;
  height: 54px;
  object-fit: cover;
  z-index: 2;
}
.arrow1Icon {
  top: 310px;
  left: 848.5px;
  object-fit: contain;
}
.image16Parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 11.5px;
  width: 902px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.arrow2Icon {
  position: absolute;
  top: 310px;
  left: 0;
  width: 54px;
  height: 54px;
  object-fit: contain;
  z-index: 2;
}
.frameGroup {
  height: 674px;
  width: 913.5px;
  position: relative;
  max-width: 100%;
}
.frameWrapper {
  width: 1145.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 55px;
  box-sizing: border-box;
  max-width: 100%;
}
.aboutUsWhatWeDo,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  width: 1243.1px;
  gap: 76px;
  max-width: 100%;
}
.aboutUsWhatWeDo {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 140px 47.9px 628px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .aboutUs {
    font-size: 51px;
    line-height: 23px;
  }
}
@media screen and (max-width: 750px) {
  .aboutUsWrapper {
    padding-left: 30px;
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: 38px;
  }
  .aboutUsWhatWeDo {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs {
    font-size: 38px;
    line-height: 17px;
  }
  .frameParent {
    gap: 19px;
  }
}
