.image32Icon {
  height: 64px;
  width: 157.3px;
  position: relative;
  object-fit: cover;
}
.home {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 29px;
  font-weight: 800;
  display: inline-block;
  min-width: 55px;
}
.aboutUs {
  min-width: 84px;
  white-space: nowrap;
}
.aboutUs,
.chapters,
.contactUs,
.initiatives,
.services {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 29px;
  font-weight: 800;
  display: inline-block;
}
.initiatives {
  flex: 1;
  min-width: 91px;
}
.chapters,
.contactUs,
.services {
  min-width: 83px;
}
.contactUs,
.services {
  min-width: 80px;
}
.contactUs {
  flex: 1;
  min-width: 101px;
  white-space: nowrap;
}
.homeParent,
.navbarInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeParent {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  gap: 23.8px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
.navbarInner {
  width: 613px;
  flex-direction: column;
  padding: 17.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.signIn {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.16px;
  line-height: 29px;
  font-weight: 800;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 64px;
}
.navbar,
.navbarChild,
.signInWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.signInWrapper {
  cursor: pointer;
  border: 0;
  padding: 10px 25px;
  background-color: #1388ca;
  border-radius: 30px;
  flex-direction: row;
  white-space: nowrap;
}
.signInWrapper:hover {
  background-color: #2ea1e3;
}
.navbar,
.navbarChild {
  flex-direction: column;
  padding: 7.5px 0 0;
}
.navbar {
  width: 1245px;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 0;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
}
.frameChild {
  width: 517px;
  height: 753px;
  position: relative;
  border-radius: 24px;
  background: linear-gradient(180.03deg, #6ab5df, #e4f1f9);
  display: none;
  max-width: 100%;
}
.getInTouch {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.getInTouchWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px 11px;
  font-size: 28px;
}
.nssCollegeOf,
.visitUs {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  display: inline-block;
  z-index: 1;
}
.visitUs {
  font-weight: 600;
  min-width: 88px;
}
.nssCollegeOf {
  flex: 1;
  max-width: 100%;
}
.nssCollegeOfEngineeringagaWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  font-size: 16px;
}
.frameWrapper,
.nssCollegeOfEngineeringagaWrapper,
.visitUsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.visitUsParent {
  flex: 1;
  flex-direction: column;
  gap: 18px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
}
.span {
  font-size: 25px;
}
.chatToUsContainer {
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 122px;
}
.chatToUsContainer,
.infodarsanagmailcom,
.ourFriendlyGroup {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  z-index: 1;
}
.ourFriendlyGroup {
  text-transform: capitalize;
  font-weight: 500;
}
.infodarsanagmailcom {
  font-size: 16px;
  text-transform: lowercase;
  white-space: nowrap;
}
.ourFriendlyGroupIsHereToParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
  max-width: 100%;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  font-size: 18px;
}
.chatToUsParent,
.frameContainer,
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.chatToUsParent {
  flex: 1;
  flex-direction: column;
  gap: 18px;
}
.frameContainer {
  width: 353px;
  flex-direction: row;
  padding: 0 6px;
  box-sizing: border-box;
}
.span1 {
  font-size: 25px;
}
.callUs,
.mondayFriday {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  z-index: 1;
}
.callUs {
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
}
.mondayFriday {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.callUsParent,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.callUsParent {
  flex-direction: column;
  gap: 13px;
}
.frameWrapper1 {
  flex-direction: row;
  padding: 0 0 0 6px;
}
.div {
  position: relative;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 1;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
  gap: 16px;
}
.span2 {
  font-size: 25px;
}
.socialMedia {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}
.facebookIcon,
.instagramCircleIcon,
.linkedinIcon,
.youtubeIcon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
}
.youtubeParent {
  flex: 1;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.frameWrapper3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
}
.frameWrapper2,
.frameWrapper3,
.rectangleParent,
.socialMediaParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialMediaParent {
  flex: 1;
  flex-direction: column;
  gap: 18px;
}
.frameWrapper2,
.rectangleParent {
  width: 172px;
  flex-direction: row;
  padding: 0 6px;
  box-sizing: border-box;
}
.rectangleParent {
  width: 517px;
  border-radius: 24px;
  background: linear-gradient(180.03deg, #6ab5df, #e4f1f9);
  flex-direction: column;
  padding: 31px 14px 273px 31px;
  gap: 28px;
  min-width: 517px;
  max-width: 100%;
}
.firstName {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 104px;
}
.frameItem {
  border: 2px solid #ccc;
  outline: 0;
  background-color: #fff;
  align-self: stretch;
  height: 60px;
  position: relative;
  border-radius: 13px;
  box-sizing: border-box;
  min-width: 180px;
}
.firstNameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.email {
  flex: 1;
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
}
.emailWrapper,
.frameParent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailWrapper {
  width: 59px;
  flex-direction: row;
  padding: 0 1px;
  box-sizing: border-box;
}
.frameParent4 {
  flex: 1;
  flex-direction: column;
  gap: 26px;
  min-width: 195px;
}
.lastName {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 101px;
}
.frameInner {
  border: 2px solid #ccc;
  outline: 0;
  background-color: #fff;
  align-self: stretch;
  height: 60px;
  position: relative;
  border-radius: 13px;
  box-sizing: border-box;
  min-width: 180px;
}
.frameParent3,
.frameWrapper4,
.lastNameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lastNameParent {
  flex: 1;
  flex-direction: column;
  gap: 6px;
  min-width: 195px;
}
.frameParent3,
.frameWrapper4 {
  flex-direction: row;
  max-width: 100%;
}
.frameParent3 {
  flex: 1;
  gap: 15px;
}
.frameWrapper4 {
  align-self: stretch;
  padding: 0 1px 0 2px;
  box-sizing: border-box;
}
.rectangleIcon {
  height: 57px;
  flex: 1;
  position: relative;
  border-radius: 13px;
  max-width: 100%;
  overflow: hidden;
}
.vectorWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  max-width: 100%;
}
.phoneNumber {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
}
.groupIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameWrapper5,
.phoneNumberParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.phoneNumberParent {
  flex-direction: column;
  gap: 6px;
}
.frameWrapper5 {
  flex-direction: row;
  padding: 0 1px 5px 2px;
  box-sizing: border-box;
}
.subject {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 72px;
}
.frameChild1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameParent5,
.subjectParent {
  align-self: stretch;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.frameParent5 {
  height: 286px;
  padding: 0 0 10px;
  box-sizing: border-box;
  gap: 26px;
  max-width: 100%;
}
.message {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 85px;
}
.frameChild2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 13px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.messageParent {
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.frameParent2,
.frameWrapper6,
.messageParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper6 {
  height: 125px;
  flex-direction: row;
  padding: 0 4px 0 2px;
  box-sizing: border-box;
}
.frameParent2 {
  flex-direction: column;
  gap: 6px;
}
.rectangleInput {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 3px;
  border: 0 solid #ccc;
  box-sizing: border-box;
  min-height: 20px;
}
.iUnderstandAnd {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  font-weight: 500;
}
.iUnderstandAndAgreeToTheWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 132px);
}
.message1 {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 85px;
}
.frameWrapper7,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.vectorParent {
  gap: 13.5px;
}
.frameWrapper7 {
  padding: 0 2px;
  box-sizing: border-box;
}
.sendMessage {
  position: absolute;
  margin: 0 !important;
  top: -25px;
  right: 239px;
  letter-spacing: 0.16px;
  line-height: 29px;
  font-weight: 800;
  z-index: 1;
}
.frameChild3 {
  height: 61px;
  width: 615px;
  position: relative;
  border-radius: 10px;
  display: none;
  max-width: 100%;
}
.span3 {
  color: #000;
}
.sendMessage1 {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 500;
  z-index: 1;
}
.sendMessageParent,
.vectorGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vectorGroup {
  border-radius: 10px;
  background-color: #4889dd;
  border: 0 solid #ccc;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 22px 229px 21px;
  max-width: 100%;
  font-size: 18px;
}
.sendMessageParent {
  position: relative;
}
.frameParent1,
.frameWrapper8,
.sendMessageParent {
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 1px 0 2px;
  box-sizing: border-box;
  font-size: 20px;
  color: #fff;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: 60px;
  min-width: 402px;
  font-size: 18px;
  color: #000;
}
.contactUsFinal,
.frameParent,
.frameParent1 {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  width: 1245px;
  flex-direction: row;
  align-items: flex-start;
  gap: 110px;
  max-width: 100%;
  text-align: left;
  font-size: 22px;
  color: #fff;
  font-family: Roboto;
}
.contactUsFinal {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 103px 21px;
  box-sizing: border-box;
  gap: 48px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .rectangleParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .homeParent {
    display: none;
  }
  .navbarInner {
    width: 0;
  }
  .rectangleParent {
    padding-top: 20px;
    padding-bottom: 177px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .rectangleParent {
    min-width: 100%;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .vectorGroup {
    padding-left: 114px;
    padding-right: 114px;
    box-sizing: border-box;
  }
  .frameParent1 {
    gap: 30px;
    min-width: 100%;
  }
  .frameParent {
    gap: 55px;
  }
  .contactUsFinal {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .getInTouch {
    font-size: 22px;
    line-height: 14px;
  }
  .callUs,
  .chatToUsContainer,
  .socialMedia,
  .visitUs {
    font-size: 18px;
    line-height: 14px;
  }
  .sendMessage {
    font-size: 16px;
    line-height: 23px;
  }
  .vectorGroup {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: 27px;
  }
}
