.initiatives1 {
  margin: 0;
  align-self: stretch;
  width: 143px;
  position: relative;
  font-size: inherit;
  line-height: 18px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.initiativesWrapper {
  margin-top: -167px;
  align-self: stretch;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 44px 45px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.initiatives2 {
  margin: 0;
  width: 437px;
  position: relative;
  font-size: inherit;
  line-height: 67px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.initiativesContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 230px;
  box-sizing: border-box;
  max-width: 100%;
}
.e756582316791179411Icon,
.productGChild {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.e756582316791179411Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.e756582316791179411Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 47px 0 48px;
}
.bellRoss,
.frameChild {
  position: relative;
  z-index: 1;
}
.frameChild {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
}
.productG,
.vectorParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorParent {
  align-self: stretch;
  align-items: flex-start;
  gap: 25.5px;
}
.productG {
  width: 296px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #a8a79d;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 54px 1px 26px 0;
  gap: 54px;
}
.febaa93816791142192Icon,
.productGItem {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGItem {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.febaa93816791142192Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.febaa93816791142192Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 46.3px 0 48px;
}
.bellRoss1,
.frameItem {
  position: relative;
  z-index: 1;
}
.frameItem {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss1 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px 0 28.7px;
}
.productG1,
.vectorGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorGroup {
  align-self: stretch;
  align-items: flex-start;
  gap: 25.5px;
}
.productG1 {
  width: 295px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #a8a79d;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 54px 0 26px;
  gap: 54px;
}
.productGInner {
  align-self: stretch;
  height: 358px;
  position: relative;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.image50Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 198.4px;
  object-fit: cover;
  z-index: 2;
}
.a154ed97f2616882946371Icon {
  position: absolute;
  width: calc(100% - 10px);
  top: 7px;
  right: 4px;
  left: 6px;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  height: 202.2px;
  object-fit: cover;
  z-index: 3;
}
.image50Parent {
  height: 209.2px;
  flex: 1;
  position: relative;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 44px 0 41.3px;
}
.bellRoss2,
.frameInner {
  position: relative;
  z-index: 1;
}
.frameInner {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss2 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumFrame,
.vectorContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bellRossNightlumFrame {
  flex-direction: row;
  padding: 0 29px 0 27px;
}
.vectorContainer {
  flex-direction: column;
  gap: 37.5px;
}
.productG2,
.rectangleIcon {
  width: 295px;
  border-radius: 5px;
}
.productG2 {
  background-color: #fff;
  border: 0 solid #a8a79d;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 0 38px;
  gap: 26.8px;
}
.rectangleIcon {
  height: 358px;
  position: relative;
  display: none;
}
.image51,
.image69Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image69Icon {
  top: 32px;
  left: 10px;
  border-radius: 8px;
  width: 200px;
  height: 161.7px;
  object-fit: cover;
  z-index: 2;
}
.image51Parent {
  height: 198.4px;
  flex: 1;
  position: relative;
}
.frameWrapper {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
  box-sizing: border-box;
}
.bellRossHeader {
  margin-left: -28px;
  width: 295px;
  height: 0.5px;
  position: relative;
  border-radius: 5px;
  object-fit: contain;
  z-index: 1;
}
.bellRoss3 {
  width: 239px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.vectorParent1 {
  width: 295px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #a8a79d;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 1px 38px 27px;
  gap: 37.6px;
}
.d581004f8c16817418401Icon,
.productGChild1 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild1 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.d581004f8c16817418401Icon {
  height: 150px;
  flex: 1;
  object-fit: cover;
  z-index: 2;
}
.d581004f8c16817418401Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 47px 0 48px;
}
.bellRoss4,
.vectorIcon {
  position: relative;
  z-index: 1;
}
.vectorIcon {
  align-self: stretch;
  height: 0.5px;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss4 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
}
.productG3,
.vectorParent2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorParent2 {
  align-self: stretch;
  align-items: flex-start;
  gap: 25.5px;
}
.productG3 {
  width: 296px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 54px 1px 26px 0;
  gap: 54px;
}
.image68Icon,
.productGChild2 {
  position: relative;
  border-radius: 8px;
}
.productGChild2 {
  align-self: stretch;
  height: 358px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.image68Icon {
  height: 161.7px;
  width: 200px;
  object-fit: cover;
  z-index: 2;
}
.image68Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 42px;
}
.bellRoss5,
.menuBarIcon {
  position: relative;
  z-index: 1;
}
.menuBarIcon {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss5 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper2,
.menuBarParent,
.productG4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bellRossNightlumWrapper2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 27px;
}
.menuBarParent,
.productG4 {
  flex-direction: column;
}
.menuBarParent {
  align-self: stretch;
  gap: 37.5px;
}
.productG4 {
  width: 295px;
  border-radius: 8px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  box-sizing: border-box;
  padding: 51px 0.7px 38px;
  gap: 45.3px;
}
.febaa93816791142193Icon,
.productGChild3 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild3 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.febaa93816791142193Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.febaa93816791142193Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 46.7px 0 48px;
}
.bellRoss6,
.frameChild1 {
  position: relative;
  z-index: 1;
}
.frameChild1 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss6 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
}
.productG5,
.vectorParent3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorParent3 {
  align-self: stretch;
  align-items: flex-start;
  gap: 37.5px;
}
.productG5 {
  width: 296px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 54px 1px 38px 0;
  gap: 54px;
}
.b5996cd16791103251Icon,
.frameChild2 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.frameChild2 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.b5996cd16791103251Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 1;
}
.b5996cd16791103251Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 47px 0 46px;
}
.bellRoss7,
.frameChild3 {
  position: relative;
  z-index: 1;
}
.frameChild3 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss7 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
}
.vectorParent5 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 37.5px;
}
.productGParent,
.vectorParent4,
.vectorParent5 {
  display: flex;
  justify-content: flex-start;
}
.vectorParent4 {
  width: 295px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: 54px 1px 38px;
  gap: 54px;
}
.productGParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 17px 15.7px;
  min-height: 733px;
}
.dcdeb2de37716754193141Icon,
.productGChild4 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild4 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.dcdeb2de37716754193141Icon {
  height: 150px;
  flex: 1;
  object-fit: cover;
  z-index: 2;
}
.dcdeb2de37716754193141Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 47px 0 48px;
}
.bellRoss8,
.frameChild4 {
  position: relative;
  z-index: 1;
}
.frameChild4 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss8 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper5,
.productG6,
.vectorParent6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bellRossNightlumWrapper5 {
  flex-direction: row;
  padding: 0 28px;
}
.productG6,
.vectorParent6 {
  flex-direction: column;
  gap: 37.5px;
}
.productG6 {
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  align-items: flex-end;
  padding: 54px 1px 38px 0;
  gap: 54px;
}
.e30216791202631Icon,
.productGChild5 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild5 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.e30216791202631Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.e30216791202631Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 47px 0 48px;
}
.bellRoss9,
.frameChild5 {
  position: relative;
  z-index: 1;
}
.frameChild5 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss9 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
}
.vectorParent7 {
  align-self: stretch;
  align-items: flex-start;
  gap: 25.5px;
}
.productG7,
.productGGroup,
.vectorParent7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productG7 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  align-items: flex-end;
  padding: 54px 1px 26px 0;
  gap: 54px;
}
.productGGroup {
  flex: 1;
  align-items: flex-start;
  gap: 17px;
  min-width: 192px;
}
.productGChild6 {
  align-self: stretch;
  height: 358px;
  position: relative;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.image67Icon {
  height: 161.7px;
  width: 200px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.image67Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 44px 0 43.7px;
}
.bellRoss10,
.frameChild6 {
  position: relative;
  z-index: 1;
}
.frameChild6 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss10 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper7,
.productG8,
.vectorParent8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bellRossNightlumWrapper7 {
  flex-direction: row;
  padding: 0 27px 0 28.7px;
}
.productG8,
.vectorParent8 {
  flex-direction: column;
  gap: 25.5px;
}
.productG8 {
  border-radius: 8px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  padding: 47px 0 26px;
  gap: 49.3px;
}
.b78d67616802822951Icon,
.productGChild7 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild7 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.b78d67616802822951Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.b78d67616802822951Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 46.3px 0 47px;
}
.bellRoss11,
.frameChild7 {
  position: relative;
  z-index: 1;
}
.frameChild7 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss11 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px;
}
.productG9,
.productGContainer,
.vectorParent9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorParent9 {
  align-self: stretch;
  align-items: flex-start;
  gap: 25.5px;
}
.productG9,
.productGContainer {
  align-items: flex-end;
}
.productG9 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  padding: 54px 0.7px 26px;
  gap: 54px;
}
.productGContainer {
  flex: 1;
  gap: 17px;
  min-width: 192px;
}
.f13f27e7816802081911Icon,
.productGChild8 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.productGChild8 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.f13f27e7816802081911Icon {
  height: 150px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.f13f27e7816802081911Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 46.7px 0 48px;
}
.bellRoss12,
.frameChild8 {
  position: relative;
  z-index: 1;
}
.frameChild8 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss12 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
}
.productG10,
.vectorParent10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorParent10 {
  align-self: stretch;
  align-items: flex-start;
  gap: 37.5px;
}
.productG10 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 54px 1px 38px 0;
  gap: 54px;
  min-width: 192px;
}
.ea3ec8bde8316930730961Icon,
.frameChild9 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.frameChild9 {
  align-self: stretch;
  height: 358px;
  border-radius: 5px;
  flex-shrink: 0;
  display: none;
}
.ea3ec8bde8316930730961Icon {
  height: 127px;
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  z-index: 1;
}
.ea3ec8bde8316930730961Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 47px 0 46px;
}
.bellRoss13,
.frameChild10 {
  position: relative;
  z-index: 1;
}
.frameChild10 {
  align-self: stretch;
  height: 0.5px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.bellRoss13 {
  flex: 1;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.bellRossNightlumWrapper10 {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
  box-sizing: border-box;
}
.vectorParent11,
.vectorParent12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vectorParent12 {
  align-self: stretch;
  align-items: flex-start;
  gap: 37.5px;
}
.vectorParent11 {
  width: 295px;
  border-radius: 5px;
  background-color: #fff;
  border: 0 solid #afb0b2;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 54px 1px 38px;
  gap: 77px;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  gap: 17px;
  font-size: 20px;
  color: #251b1b;
}
.frameParent {
  width: 1237px;
  gap: 65px;
  max-width: 100%;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: Roboto;
}
.initiatives,
.initiativesInner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.initiativesInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 21px 0 20px;
  max-width: 100%;
  flex-shrink: 0;
}
.initiatives {
  width: 100%;
  height: 1945px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 127px 5px 203px;
  gap: 105px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1050px) {
  .initiatives {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .initiatives1 {
    font-size: 26px;
    line-height: 14px;
  }
  .initiatives2 {
    font-size: 51px;
    line-height: 67px;
  }
}
@media screen and (max-width: 725px) {
  .initiativesContainer {
    padding-left: 115px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: 32px;
  }
  .initiatives {
    gap: 52px;
  }
}
@media screen and (max-width: 450px) {
  .initiatives1 {
    font-size: 19px;
    line-height: 11px;
  }
  .initiatives2 {
    font-size: 38px;
    line-height: 50px;
  }
  .e756582316791179411Wrapper,
  .initiativesContainer {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .e756582316791179411Wrapper {
    padding-right: 20px;
  }
  .bellRoss {
    font-size: 16px;
    line-height: 19px;
  }
  .productG {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .febaa93816791142192Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss1 {
    font-size: 16px;
    line-height: 19px;
  }
  .productG1 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .frameDiv {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss2 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorContainer {
    gap: 19px;
  }
  .productG2 {
    padding-top: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .bellRoss3 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorParent1 {
    gap: 19px;
    padding-top: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .d581004f8c16817418401Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss4 {
    font-size: 16px;
    line-height: 19px;
  }
  .productG3 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .image68Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss5 {
    font-size: 16px;
    line-height: 19px;
  }
  .menuBarParent {
    gap: 19px;
  }
  .productG4 {
    gap: 23px;
    padding-top: 33px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .febaa93816791142193Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss6 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorParent3 {
    gap: 19px;
  }
  .productG5 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .b5996cd16791103251Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss7 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorParent5 {
    gap: 19px;
  }
  .vectorParent4 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .dcdeb2de37716754193141Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss8 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorParent6 {
    gap: 19px;
  }
  .productG6 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .e30216791202631Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss9 {
    font-size: 16px;
    line-height: 19px;
  }
  .productG7 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .image67Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss10 {
    font-size: 16px;
    line-height: 19px;
  }
  .productG8 {
    gap: 25px;
    padding-top: 31px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .b78d67616802822951Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss11 {
    font-size: 16px;
    line-height: 19px;
  }
  .productG9 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .f13f27e7816802081911Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss12 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorParent10 {
    gap: 19px;
  }
  .productG10 {
    gap: 27px;
    padding-top: 35px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .ea3ec8bde8316930730961Wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .bellRoss13 {
    font-size: 16px;
    line-height: 19px;
  }
  .vectorParent12 {
    gap: 19px;
  }
  .vectorParent11 {
    gap: 38px;
    padding-top: 35px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: 16px;
  }
  .initiatives {
    gap: 26px;
  }
}
