.accessToThousands,
.welcomeToDarsana {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.welcomeToDarsana {
  width: 513px;
  font-size: inherit;
  line-height: 68px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.accessToThousands {
  align-self: stretch;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  color: rgba(102, 102, 102, 0.8);
}
.welcomeToDarsanaParent {
  width: 530px;
  flex-direction: column;
  gap: 16px;
}
.frameParent,
.frameWrapper,
.welcomeToDarsanaParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 7px;
  box-sizing: border-box;
}
.frameParent {
  width: 549px;
  flex-direction: column;
  gap: 74px;
  min-width: 549px;
}
.icon {
  align-self: stretch;
  height: 504px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.loginPage,
.wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 62px;
  min-width: 447px;
  min-height: 567px;
  max-width: 100%;
}
.loginPage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 223.5px 79px 161px;
  gap: 39.5px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 48px;
  color: #111;
  font-family: Poppins;
}
@media screen and (max-width: 1150px) {
  .frameParent {
    flex: 1;
  }
  .loginPage {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .welcomeToDarsana {
    font-size: 38px;
    line-height: 54px;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: 37px;
    min-width: 100%;
  }
  .loginPage,
  .wrapper {
    box-sizing: border-box;
  }
  .wrapper {
    padding-bottom: 40px;
    min-width: 100%;
  }
  .loginPage {
    gap: 20px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (max-width: 450px) {
  .welcomeToDarsana {
    font-size: 29px;
    line-height: 41px;
  }
  .accessToThousands {
    font-size: 22px;
    line-height: 32px;
  }
  .frameParent {
    gap: 18px;
  }
}
